* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: all 0.88s ease-in-out;
  transition: all 0.88s ease-in-out;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 4px;
}

.hidden {
  display: none;
}
